body{
    font-family: 'Special Elite',cursive;
    background: rgb(0, 2, 65);
}
.header_div{
    background: rgb(0, 2, 65);
    color: whitesmoke;
    text-align: center;
}
.header_div p{
    font-family: 'Special Elite',cursive;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
center{
    font-family: 'Special Elite',cursive;
    color: whitesmoke;
}